@model Heading

@using (Html.BeginForm("Update", "Heading", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.HeadingId, "Başlık Id")
        @Html.TextBoxFor(m => m.HeadingId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.HeadingName, "Başlık Adı")
        @Html.TextBoxFor(m => m.HeadingName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.HeadingDate, "Tarih")
        @Html.TextBoxFor(m => m.HeadingDate, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.WriterId, "Yazar Id")
        @Html.TextBoxFor(m => m.WriterId, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Category, "Kategori")
        @Html.DropDownListFor(m => m.CategoryId, (List<SelectListItem>)ViewBag.categories,
                new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}